
@{
    ViewData["Title"] = "Index";
    ViewBag.Title = "Home Page";
}

@model HomeIndexViewModel

<h1>All Restaurants</h1>

@foreach (var r in Model.Restaurants)
{
    @Html.Partial("_Summary", r) 
}

<div>
    <a class="btn btn-primary" asp-action="Create">Add Restaurant</a>
</div>















@{
    /* Tables can be replaced using a model and a simple foreach loop

<table>
    @foreach (var r in Model.Restaurants)
    {
        <tr>
            <td>@r.Id</td>
            <td>@r.Name</td>
            <td>
                <a asp-action="Details" asp-route-id="@r.Id">More</a>
                <a asp-page="/Restaurants/Edit" asp-route-id="@r.Id">Edit</a>
            </td>

        </tr>
    }
</table>

*/
}



